.buttonsContainer {
   color: #0066CC;
    margin-bottom: 90px;
}

.responseContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imageContainer {
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
}

.code {
    font-size: 30px;
    margin-bottom: 12px;
}

.text {
    font-size: 16px;
    word-wrap: break-word;
}

.info {
    display: block;
    margin-left: 0;
    margin-top: 0;
}