.sidebar {
    background: #FFFFFF;
    width: 317px;
    height: 100%;
    position: fixed;
    left: -317px;
    top: 0;
    transition: transform .5s;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.sidebar.open {
    transform: translateX(100%);
}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}

.nav {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}

.nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 45px;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}

.close {
    margin-left: 269px;
    margin-top: 16px;
    margin-bottom: 23px;
    border: none;
    background: #FFFFFF;
}

.close img {

}
