.input:focus {
}

.input {
    padding-left: 12px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.errorInput {
    border: 1px solid #CC1439;
    border-radius: 5px;

}

.errorInput:focus {
}

.error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #CC1439;
    padding-bottom: 5px;
}
