.spanBlock {
    display: flex;
    margin-bottom: 24px;
}

.span {
    display: inline-block;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
}

.input {
    margin-bottom: 24px;
    padding-left: 24px;
    outline: #D1D1D1;
}

.pen {
    padding-right: 10px;
}